header {
    
}

.header-container {
    display: flex;
    
    justify-content: space-between;
    align-items: center; 
    max-width: 1200px; 
    width: 100%;
    margin: 0 auto; 
    border: 1px solid white;   
}
nav {
    flex-grow: 1;
    margin-left: auto;
    
}

nav ul {
    display: flex;
    list-style: none;
    /* justify-content: space-between;
    align-items: center;  */
}

ul a:link, 
a:visited {
    padding: 10px;
    text-decoration: none;
    color: var(--foreground);
    font-size: 1.2rem;
}

ul a:hover {
    color: #0B5CFF;
}

