/* * {
    outline: 1px solid red !important;
} */

header {
    /* position: fixed; 
    top: 0; 
    left: 0;
    z-index: 10;
    display: flex;
    max-width: 1200px;   
    margin: 0 auto;
    border: 1px solid white;
     */

    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 10;
    background-color: black;
    padding: 5px;
    height: 70px;
    margin: 0;
    box-sizing: border-box;  */
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 0;
   
    width: 100%;
    position: relative;

}


.header-container {
    /* display: flex;    
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px; 
    box-sizing: border-box;
    position: fixed;
    top: 0;
    
    
    
}

.logo {
    display: flex;
    align-items: center;
    height: 70px;
}

nav {
    
    
}



nav ul {
    display: flex;
    list-style: none;
    gap: 2rem; 
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: var(--foreground);
    font-size: 1.2rem;
    transition: color 0.3s ease; 
}



ul a:hover {
    color: #0B5CFF;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    background-color: rgba(0,0,0, 0.9);
    width: 75%;
    margin: 0 auto;
    border-radius:  0 0 25px 25px;
}

@media screen and (max-width: 730px) {
    header {
        
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        z-index: 10;
        background-color: black;
        padding: 5px;
        height: 70px;
        margin: 0;
        box-sizing: border-box; 
        
    }
    
    .header-container {
        /* padding: 1.5rem 4rem; */
        width: 100%; 
        padding: 0 20px;
        margin: 0 ;
        
        
    }


    .nav-bar {
        display: none;
    }

    .mobile-menu-icon {
        display: flex;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu {
        position: fixed;
        top: 70px; /* altura do header */
        left: 0;
        width: 100%;
        z-index: 1000;
        transition: all 0.3s ease;
        transform: translateY(-100%);
        opacity: 0;
    }
    
    .mobile-menu.open {
        transform: translateY(0);
        opacity: 1;
    }
    
    .mobile-menu ul {
        background-color: rgba(0,0,0, 0.9);
        border-radius: 0 0 25px 25px;
        padding: 20px;
    }

    /* .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;

    } */

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;

    }

    .open {
        display: block;
    }
}

/* 
@media screen and (max-width: 500px) {
       
    .header-container {
        justify-content: space-around;
        align-items: center;
    }

} */