header {
    
}

.header-container {
    display: flex;
    
    justify-content: space-between;
    align-items: center; 
    max-width: 1200px; 
    width: 100%;
    margin: 0 auto; 
    
}
nav {
    
    
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem; /
    margin: 0 ; 
    padding: 0
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: var(--foreground);
    font-size: 1.2rem;
    transition: color 0.3s ease; /* suaviza a mudança de cor no hover */
}



ul a:hover {
    color: #0B5CFF;
}

